<form [formGroup]="addressFormGroup" novalidate>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="Calle" formControlName="street" name="street" [readonly]="!isEditable">
            </mat-form-field>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="Puerta" formControlName="door" name="puerta" [readonly]="!isEditable">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="No" formControlName="no" name="no" [readonly]="!isEditable">

            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="Ciudad" formControlName="city" name="city" [readonly]="!isEditable"
                    [matAutocomplete]="auto">

                <mat-error *ngIf="addressFormGroup.controls['city'].errors">
                    El nombre de la ciudad no puede contener caracteres especiales
                </mat-error>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field class="full-width">
                <input matInput #zipCode placeholder="Código Postal" formControlName="zipCode"
                    name="zipcode" [readonly]="!isEditable" (keydown)="onzipCodeInput($event)">
                <mat-error *ngIf="addressFormGroup.controls['zipCode'].errors">
                    El codigo Postal debe tener <strong>5</strong> números.
                </mat-error>
                <mat-hint align="end">{{zipCode.value.length}} / 5</mat-hint>
            </mat-form-field>
        </div>

    </div>
</form>