<div class="search-bar">
    <div class="container" *ngIf="advancedQuery">
        <form (submit)="sendQuery()" class="row" #form="ngForm">
            <mat-form-field class="full-width">
                <mat-label>Buscar</mat-label>
                <input matInput placeholder="Ejemplo: name=William&lastName=Shackespare&id=3..." name="Buscar"
                    [(ngModel)]="query" #searchquery="ngModel" (keyup)="resetQuery()" QueryValidator>
                    <mat-error *ngIf="searchquery.invalid">
                        La query es incorrecta. <strong>Vea Documentación</strong>, para mas informcación.
                    </mat-error>
            </mat-form-field>
            <button mat-mini-fab type="submit" color="primary" [disabled]="form.invalid">
                <mat-icon matSuffix>search</mat-icon>
            </button>
        </form>
        <mat-slide-toggle class="pull-right" color="primary" [(ngModel)]="advancedQuery">Busqueda Avanzada
        </mat-slide-toggle>
    </div>

    <div class="container" *ngIf="!advancedQuery">
        <mat-form-field class="full-width" *ngIf="!advancedQuery">
            <input matInput placeholder="Buscar" name="Buscar" (keyup)="filterUsers()" [(ngModel)]="query">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-slide-toggle class="pull-right" color="primary" [(ngModel)]="advancedQuery">Busqueda Avanzada
        </mat-slide-toggle>
    </div>
</div>

<mat-tab-group>
    <mat-tab label="Todo">
        <app-users-list *ngIf="users != undefined" [users]="users"
            [displayedColumns]="['id', 'name', 'firstName', 'lastName', 'gender', 'docId', 'action']"
            [columnsNames]="['Id', 'Nombre', 'Apellido', '2do Apellido', 'género', 'DNI/Pasaporte', 'action']">
        </app-users-list>
    </mat-tab>
    <mat-tab label="Profesional">
        <app-users-list *ngIf="professionals != undefined" [users]="professionals"
            [displayedColumns]="['id', 'name', 'type', 'firstName', 'lastName', 'gender', 'docId', 'noCollegiate', 'action']"
            [columnsNames]="['Id', 'Nombre', 'Tipo', 'Apellido', '2do Apellido', 'genero', 'DNI/Pasaporte', 'No. Colegiado', 'action']">
        </app-users-list>
    </mat-tab>
    <mat-tab label="Paciente">
        <app-users-list *ngIf="patients != undefined" [users]="patients"
            [displayedColumns]="['id', 'NHC', 'name', 'firstName', 'lastName', 'gender', 'docId', 'action']"
            [columnsNames]="['Id', 'NHC', 'Nombre', 'Apellido', '2do Apellido', 'genero', 'DNI/Pasaporte', 'action']">
        </app-users-list>
    </mat-tab>
</mat-tab-group>
<button mat-raised-button color="primary" class="add" routerLink="/user/new">
    <mat-icon>add</mat-icon>Nuevo Usuario
</button>
<button mat-raised-button color="warn" class="delete" (click)="deleteDoctors()">
    <mat-icon>delete</mat-icon>Eliminar Médicos
</button>
<div class="center" *ngIf="users == undefined">
    <mat-spinner></mat-spinner>
</div>