<mat-tab-group>
    <mat-tab label="Todo">
        <app-users-list 
            *ngIf="users != undefined" 
                [users]="users"
                [displayedColumns]="['id', 'name', 'firstName', 'lastName', 'gender', 'docId', 'action']"
                [columnsNames] = "['Id', 'Nombre', 'Apellido', '2do Apellido', 'género', 'DNI/Pasaporte', 'action']">
        </app-users-list>
    </mat-tab>
    <mat-tab label="Profesional">
        <app-users-list 
        *ngIf="professionals != undefined" 
            [users]="professionals"
            [displayedColumns]="['id', 'name', 'type', 'firstName', 'lastName', 'gender', 'docId', 'noCollegiate', 'action']"
            [columnsNames] = "['Id', 'Nombre', 'Tipo', 'Apellido', '2do Apellido', 'genero', 'DNI/Pasaporte', 'No. Colegiado', 'action']">
        </app-users-list>
    </mat-tab>
    <mat-tab label="Paciente">
        <app-users-list 
            *ngIf="patients != undefined" 
                [users]="patients"
                [displayedColumns]="['id', 'NHC', 'name', 'firstName', 'lastName', 'gender', 'docId', 'action']"
                [columnsNames] = "['Id', 'NHC', 'Nombre', 'Apellido', '2do Apellido', 'genero', 'DNI/Pasaporte', 'action']"
            >
        </app-users-list>
    </mat-tab>
</mat-tab-group>
<button mat-raised-button color="primary" class="add" routerLink="/user/new"><mat-icon>add</mat-icon>Nuevo Usuario</button>
<button mat-raised-button color="warn" class="delete" (click)="deleteDoctors()"><mat-icon>delete</mat-icon>Eliminar Médicos</button>
<div class="center" *ngIf="users == undefined">
    <mat-spinner></mat-spinner>
</div>