.container{
  display: flex;
  justify-content: center;
  form{
    width: 80%;
  }
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
  border-radius: 0em;
  box-shadow: 0 0.25rem 0.50rem rgba(0, 0, 0, 0.2);
}

.center{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.full-page{
  height: 100vh;
}