<div class="container">
  <form #userForm='ngForm' novalidate (submit)="saveUser()">
    <mat-tab-group>
      <mat-tab label="Datos Personales">
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>User Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-personal-info-form [isEditable] = "isEditable" [personalUserForm] = "personalInfoForm" ></app-personal-info-form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" *ngIf="isEditable">Guardar</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label="Dirección">
        <mat-card class="shipping-card">
          <mat-card-header class="mt-5">
            <mat-card-title>Address</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-address-form [isEditable] = "isEditable" [addressFormGroup] = "addressForm"></app-address-form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" *ngIf="isEditable">Guardar</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
      <mat-tab label={{isProfessional}}>
        <mat-card class="shipping-card">
          <mat-card-header>
            <mat-card-title>Información del {{isProfessional}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
           
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" *ngIf="isEditable">Guardar</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>