.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
  border-radius: 0em;
  box-shadow: 0 0.25rem 0.50rem rgba(0, 0, 0, 0.2);
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.container{
  display: flex;
  justify-content: center;
  form{
    width: 80%;
  }
}

.mt-5{
  margin-top: 50px;
}





.insurance-container{
  .insurance{
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;;
    margin: 5px;
    width: 100%;
  }

  .close{
    width:20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}