<form [formGroup] = "professionalForm">
    <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="No. Colegiado" formControlName = 'noCollegiate' name="noCollegiate"
              [readonly]="!isEditable">
              <mat-error *ngIf="professionalForm.controls['noCollegiate'].hasError('required')">
                Porfavor instroduzca el <strong>Número de Colegiado</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-select matInput placeholder="Tipo" formControlName = 'type' name="type" [disabled]="!isEditable">
              <mat-option value="Enfermero">Enfermero</mat-option>
              <mat-option value="Médico">Médico</mat-option>
              <mat-option value="Administrativo">Administrativo</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
      </div>
</form>