<form [formGroup]="patientForm">
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="NHC" formControlName='NHC' name="NHC" [readonly]="!isEditable">
                <mat-error *ngIf="patientForm.controls['NHC'].hasError('required')">
                    Por favor introduzca el <strong>NHC</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row insurance-container row-reverse" *ngFor="let form of insuranceForms;let i = index;">
        <form class="row insurance" [formGroup]="form">
            <mat-form-field>
                <input matInput placeholder="Nombre del Seguro" formControlName="name" [readonly]="!isEditable">
            </mat-form-field>
            <mat-form-field>
                <mat-select matInput placeholder="Tipo de Seguro" formControlName="type" [disabled]="!isEditable">
                    <mat-option value="Salud">Salud</mat-option>
                    <mat-option value="Familiar">Familiar</mat-option>
                    <mat-option value="Dental">Dental</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Numero de Tarjeta" formControlName="cardNumber" [readonly]="!isEditable">
            </mat-form-field>
        </form>
        <button mat-mini-fab color="basic" type="button" class="close" (click)="deleteInsurance(form)"
            *ngIf="isEditable">
            x
        </button>
    </div>
    <button mat-mini-fab color="basic" type="button" (click)="addInsurance()" *ngIf="isEditable">
        <mat-icon>add</mat-icon>
    </button>
</form>